.sidebar {
  height: 80%vh;
  width: 10rem;
  position: absolute;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #dadada;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: uppercase;
}
#sb-heading {
  text-transform: uppercase;
  color: blueviolet;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12px;
  letter-spacing: 2px;
}
#sb-item {
  padding: 0.5rem;
  margin-bottom: 4px;
}
div:hover {
  font-weight: bold;
  background-color: #f0f0f0;
  cursor: pointer;
}
